

/* Preset image size so that re-loading page doesn't look "jumpy" */



/* Make the outline of the website have no margin. This makes the color look much cleaner. */
body {
  margin: 0;
}


/* Header */

.header {
  display: flex;
  justify-content: space-between;
  background-color: rgb(23, 10, 71);
  align-items: center;
  padding: 10px;
}

.header-logo {
  display: flex;
  font-weight: bold;
  font-size: 25px;
  color: rgb(255, 211, 123);
  padding-left: 80px;
}

.links {
  display: flex;
  color: rgb(209, 209, 209);
  font-size: 25px;
  padding: 10px;
  gap: 20px;
  padding-right: 80px;
}

a {
  gap: 40px;
}




/* Section-2 */ 

.section-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 70px;
  gap: 30px;
  background-color: rgb(23, 10, 71);
  padding-bottom: 70px;
}


.section-2 img {
  height: auto;
  width: 400px;
  border-radius: 25px;
}

.website-description {
  display: flex;
  flex-direction: column;
  align-content: space-between;
}

.awesome-website {
  font-size: 60px;
  font-weight: 600;
  margin: 10px;
  margin-left: 0;
  margin-right: 0;
  color: rgb(209, 209, 209);
}

.subtext {
  font-size: 25px;
  color: rgb(209, 209, 209);
}




/* Section 3 */

.section-3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 32, 32);
}

.more-images {
  display: flex;
  gap: 40px;
}

.other-projects {
  font-size: 60px;
  font-weight: 600;
}

.more-images img {
  height: auto;
  width: 400px;
  border-radius: 25px;
}

.more-images p {
  text-align: center;
  font-size: 40px;
  font-weight: 700;
}


/* Section-4 */
/* .section-4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(42, 42, 42);
  color: rgb(209, 209, 209);
  padding-bottom: 50px;
}

.quote {
  margin-top: 40px;
  margin-left: 500px;
  margin-right: 500px;
}

.quote {
  font-size: 40px;
}

.author {
  font-size: 30px;
} */

.section-4 {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: rgb(25, 25, 25);
  color: rgb(209, 209, 209);
  padding: 50px 300px;
}

.quote {
  display: flex;
  justify-content: flex-start;
  font-size: 40px;
}

.author {
  display: flex;
  justify-content: flex-end;
  font-size: 30px;
} 


/* Section-5 */
.section-5 {
  font-size: 45px;
  text-align: center;
  background-color: rgb(185, 84, 229);
  color: black;
  padding: 25px;
}

.section-5 a {
  text-decoration: none;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(213, 211, 211);
}

.footer p {
  padding: 10px;
  margin: 0;
  color: grey;
}



