
/* Make the outline of the website have no margin. This makes the color look much cleaner. */
body {
  margin: 0;
}


/* Header */

.header {
  display: flex;
  justify-content: space-between;
  background-color: rgb(23, 10, 71);
  align-items: center;
  padding: 10px;
}

.header-logo {
  display: flex;
  font-weight: bold;
  font-size: 30px;
  color: rgb(255, 211, 123);
  padding-left: 80px;
}

.links {
  display: flex;
  color: rgb(209, 209, 209);
  font-size: 20px;
  padding: 10px;
  gap: 20px;
  padding-right: 80px;
}

a {
  gap: 40px;
}




/* Section 2*/ 

.section-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 70px;
  gap: 30px;
  background-color: rgb(23, 10, 71);
}

.section-2 img {
  height: auto;
  width: 400px;
}

.website-description {
  display: flex;
  flex-direction: column;
  align-content: space-between;
}

.awesome-website {
  font-size: 60px;
  font-weight: 600;
  margin: 10px;
  margin-left: 0;
  margin-right: 0;
  color: rgb(209, 209, 209);
}

.subtext {
  font-size: 25px;
  color: rgb(209, 209, 209);
}